<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>معلومات المستخدم</title>
    <link rel="stylesheet" href="user-profile.css">
    <script src="user-profile.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>معلومات المستخدم</h1>
        <p><strong>الاسم الأول:</strong> <span id="first-name"></span></p>
        <p><strong>الاسم الأخير:</strong> <span id="last-name"></span></p>
        <p><strong>اسم المستخدم:</strong> <span id="username"></span></p>
        <p><strong>البريد الإلكتروني:</strong> <span id="email"></span></p>
        <a href="edit-profile" class="action-button">تعديل المعلومات</a>
        <a href="home" class="action-button home-button">الرجوع إلى الصفحة الرئيسية</a>
        <!-- زر تغيير كلمة المرور -->
        <a href="change-password" class="action-button change-password-button">تغيير كلمة المرور</a>
        <a href="confirm-delete" class="action-button delete-button">حذف الحساب</a>

    </div>
</body>
</html>
